table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

input[type="text"] {
  width: 100%;
}

tr.completed td {
  text-decoration: line-through;
}

button {
  cursor: pointer;
  margin: 0 5px;
}
